## /etc/logrotate.d/rsyslog
## logfiles defined in /etc/rsyslog.conf
## {{ ansible_managed }}

{% if 'log' in group_names %}
{% for tag in rsyslog_tags | union(keys(rsyslog_rules) %}
/var/log/{{ tag }}.log
{% endfor %}
{% endif %}
{{ rsyslog_file }}
{
  sharedscripts
  postrotate
    invoke-rc.d rsyslog rotate > /dev/null
  endscript
}
