## /etc/logrotate.d/rsyslog
## logfiles defined in /etc/rsyslog.conf
## {{ ansible_managed }}

{% if rsyslog_role == 'server' %}
{% for tag in rsyslog_tags | union(rsyslog_rules.keys()) %}
/var/log/{{ tag }}.log
{% endfor %}
{% endif %}
{{ rsyslog_file }}
{
  sharedscripts
  postrotate
    invoke-rc.d rsyslog rotate > /dev/null
  endscript
}
