## /etc/rsyslog.conf
## Uploads logs remotely to {{ rsyslog_server }}
## {{ ansible_managed }}

module(load="imuxsock")
module(load="imklog")
module(load="omrelp")

*.*     -{{ rsyslog_file }};RSYSLOG_TraditionalFileFormat
*.*     :omrelp:{{ rsyslog_server }}:{{ rsyslog_port }}
