## /etc/rsyslog.conf
## Uploads logs remotely to {{ rsyslog_server }}
## {{ ansible_managed }}

$ModLoad imuxsock
$ModLoad imklog
$ModLoad omrelp

*.*     -{{ rsyslog_file }};RSYSLOG_TraditionalFileFormat
*.*     :omrelp:{{ rsyslog_server }}:{{ rsyslog_port }}
