## /etc/rsyslog.conf
## Uploads logs remotely to {{ rsyslog_server }}
## {{ ansible_managed }}

module(load="imklog")	# kernel ring buffer
module(load="imuxsock")	# /run/systemd/journal/syslog
module(load="omrelp")	# rsyslog reliable transport

*.* {{ rsyslog_file }}

{% for host in rsyslog_servers %}
action(type="omrelp" target="{{ host }}" port="{{ rsyslog_port }}")
{% endfor %}
