## /etc/rsyslog.conf
## Server receives remote logs
## {{ ansible_managed }}

$ModLoad imuxsock		# local system logging
$ModLoad imklog			# kernel logging support (formerly by rklogd)

$ModLoad imudp			# UDP syslog reception from sysklogd
$UDPServerRun 514

$ModLoad imrelp			# rsyslog-specific reliable transport
$InputRELPServerRun {{ rsyslog_port }}

$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

$RepeatedMsgReduction on	# Filter duplicated messages

# Set the default permissions for all log files.
$FileOwner root
$FileGroup adm
$FileCreateMode 0640
$DirCreateMode 0755
$Umask 0022
#$PrivDropToUser daemon
#$PrivDropToGroup daemon

$WorkDirectory /var/spool/rsyslog	# Location of spool files

# Output Rules

{% for tag in rsyslog_tags %}
:syslogtag, contains, "{{ tag }}"	/var/log/{{ tag }}.log
& ~
{% endfor %}

{% for tag, rule in rsyslog_rules.iteritems() %}
{{ rule }}			/var/log/{{ tag }}.log
{% endfor %}

# Default
*.*				-{{ rsyslog_file }}
