## /etc/rsyslog.conf
# Server receives remote logs
# {{ ansible_managed }}

# Load modules
module(load="imklog")	# kernel ring buffer
module(load="imuxsock")	# /run/systemd/journal/syslog
module(load="imudp")	# UDP syslog
module(load="imtcp")	# TCP syslog
module(load="imrelp")	# rsyslog reliable transport

# Input
{% set addr_ip = 'address="' ~ ansible_facts[rsyslog_interface].ipv4.address ~ '"' if rsyslog_interface else '' %}
input(type="imudp"  {{ addr_ip }} port="514")
input(type="imtcp"  {{ addr_ip }} port="514")
input(type="imrelp" {{ addr_ip }} port="{{ rsyslog_port }}")

# Default permissions for created log files
module(load="builtin:omfile" DirCreateMode="0750" FileCreateMode="0640"
  DirGroup="adm" FileGroup="adm")

# Default ruleset

{% for tag in rsyslog_tags %}
:programname, contains, "{{ tag }}"	/var/log/{{ tag }}.log
& stop
{% endfor %}

{% for tag, rule in rsyslog_rules.items() %}
{{ rule }}	/var/log/{{ tag }}.log
& stop
{% endfor %}

template(name="logfile" type="string" string="{{ rsyslog_host_pattern }}")
action(type="omfile" dynafile="logfile")
