## /etc/rsyslog.conf
# Server receives remote logs
# {{ ansible_managed }}

# Load modules
module(load="imklog")	# kernel ring buffer
module(load="imuxsock")	# /run/systemd/journal/syslog
module(load="imudp")	# UDP syslog
module(load="imtcp")	# TCP syslog
module(load="imrelp")	# rsyslog reliable transport

# Input
input(type="imudp" port="514")
input(type="imtcp" port="514")
input(type="imrelp" port="{{ rsyslog_port }}")

# Default permissions for created log files
module(load="builtin:omfile" DirCreateMode="0750" FileCreateMode="0640"
  DirGroup="adm" FileGroup="adm")

# Default ruleset

{% for tag in rsyslog_tags %}
:programname, contains, "{{ tag }}"	/var/log/{{ tag }}.log
& stop
{% endfor %}

{% for tag, rule in rsyslog_rules.iteritems() %}
{{ rule }}	/var/log/{{ tag }}.log
& stop
{% endfor %}

#*.* {{ rsyslog_file }}
template(name="logfile" type="string" string="/var/log/%HOSTNAME%/%programname%.log")
action(type="omfile" dynafile="logfile")
